[data-theme='Simmons'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 6px;
	--radius-container: 6px;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(96.38% 0.05 196.26deg);
	--color-primary-100: oklch(90.89% 0.07 207.9deg);
	--color-primary-200: oklch(85.48% 0.08 216.89deg);
	--color-primary-300: oklch(79.87% 0.1 223.76deg);
	--color-primary-400: oklch(74.64% 0.11 229.15deg);
	--color-primary-500: oklch(69.52% 0.13 233.55deg);
	--color-primary-600: oklch(62.91% 0.12 235.59deg);
	--color-primary-700: oklch(56.1% 0.11 237.85deg);
	--color-primary-800: oklch(48.88% 0.11 241.58deg);
	--color-primary-900: oklch(41.66% 0.1 245.01deg);
	--color-primary-950: oklch(34.14% 0.09 248.81deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(84.32% 0.15 326.83deg);
	--color-secondary-100: oklch(77.01% 0.16 326.98deg);
	--color-secondary-200: oklch(69.88% 0.16 327.54deg);
	--color-secondary-300: oklch(62.42% 0.17 327.76deg);
	--color-secondary-400: oklch(55.21% 0.17 328.41deg);
	--color-secondary-500: oklch(47.81% 0.17 328.74deg);
	--color-secondary-600: oklch(42.61% 0.16 329.37deg);
	--color-secondary-700: oklch(37.09% 0.14 329.65deg);
	--color-secondary-800: oklch(31.57% 0.12 331.44deg);
	--color-secondary-900: oklch(25.58% 0.1 332.44deg);
	--color-secondary-950: oklch(18.97% 0.08 335.12deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(100% 0 none);
	--color-tertiary-100: oklch(94.61% 0 none);
	--color-tertiary-200: oklch(89.14% 0 none);
	--color-tertiary-300: oklch(83.59% 0 none);
	--color-tertiary-400: oklch(77.94% 0 none);
	--color-tertiary-500: oklch(72.19% 0 none);
	--color-tertiary-600: oklch(65% 0 none);
	--color-tertiary-700: oklch(57.61% 0 none);
	--color-tertiary-800: oklch(49.62% 0 none);
	--color-tertiary-900: oklch(41.65% 0 none);
	--color-tertiary-950: oklch(33.29% 0 none);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(92.98% 0.12 151.03deg);
	--color-success-100: oklch(86.15% 0.12 151.41deg);
	--color-success-200: oklch(79.41% 0.13 151.32deg);
	--color-success-300: oklch(72.45% 0.14 151.26deg);
	--color-success-400: oklch(65.63% 0.14 150.58deg);
	--color-success-500: oklch(58.61% 0.15 149.73deg);
	--color-success-600: oklch(52.04% 0.13 148.87deg);
	--color-success-700: oklch(45.56% 0.12 147.68deg);
	--color-success-800: oklch(38.58% 0.1 146.52deg);
	--color-success-900: oklch(31.56% 0.09 144.76deg);
	--color-success-950: oklch(23.63% 0.08 142.5deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(98.55% 0.08 107.73deg);
	--color-warning-100: oklch(96.86% 0.1 104.5deg);
	--color-warning-200: oklch(94.97% 0.12 102.41deg);
	--color-warning-300: oklch(93.43% 0.14 100.88deg);
	--color-warning-400: oklch(91.67% 0.16 99.43deg);
	--color-warning-500: oklch(90.28% 0.17 97.98deg);
	--color-warning-600: oklch(82.86% 0.16 98.2deg);
	--color-warning-700: oklch(75.38% 0.15 97.97deg);
	--color-warning-800: oklch(67.83% 0.13 98.74deg);
	--color-warning-900: oklch(59.94% 0.12 98.39deg);
	--color-warning-950: oklch(51.68% 0.11 98.62deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(81.89% 0.1 25.43deg);
	--color-error-100: oklch(75.4% 0.12 22.79deg);
	--color-error-200: oklch(69.16% 0.13 21.71deg);
	--color-error-300: oklch(63.07% 0.15 21.52deg);
	--color-error-400: oklch(57.32% 0.17 22.04deg);
	--color-error-500: oklch(51.98% 0.18 23.2deg);
	--color-error-600: oklch(46.79% 0.16 23.79deg);
	--color-error-700: oklch(41.38% 0.15 24.28deg);
	--color-error-800: oklch(35.66% 0.13 25.6deg);
	--color-error-900: oklch(29.88% 0.11 26.5deg);
	--color-error-950: oklch(23.57% 0.1 29.23deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(95.81% 0 none);
	--color-surface-100: oklch(88.53% 0 none);
	--color-surface-200: oklch(80.78% 0 none);
	--color-surface-300: oklch(73.16% 0 none);
	--color-surface-400: oklch(65% 0 none);
	--color-surface-500: oklch(56.93% 0 none);
	--color-surface-600: oklch(49.97% 0 none);
	--color-surface-700: oklch(42.39% 0 none);
	--color-surface-800: oklch(34.85% 0 none);
	--color-surface-900: oklch(26.45% 0 none);
	--color-surface-950: oklch(17.76% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
